<div style="height: 60px; background-color: #b0d1f7"></div>
<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark">
            Agregar educación
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr>
                    <td style="text-align:center" style="width:30%">
                        <h5>Educación</h5>
                    </td>
                    <td style="text-align:center" style="width:30%"></td>
                    <td style="text-align:center" style="width:20%">
                        <button class="btn btn-light">
                        <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td style="text-align:center" style="width:20%">
                        <button class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i> BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>

