body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-fluid {
    width: 100%;
    height: 600px;
    min-height: 100vh;
    background-image: url('../../../assets/educación.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    display: inline-block;
    font-size: xx-large;
    font-weight: 900;
    color: black;
}

button {
    color: whitesmoke;
}