<div style="height: 60px; background-color: #b0d1f7"></div>
<div class="row">
    <h2>Proyectos Realizados</h2>
    <div style="height: 20px; background-color: #b0d1f7"></div>
    <div class="contenedor">

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h4>Proyecto Integrador Codo a Codo</h4>
            <p>
                PROYECTO FINAL INTEGRADOR DE LA CAPACITACIÓN ARGENTINA PROGRAMA | FULL STACK DEVELOPER 2022
            </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte1">
            <img src="../../../assets/proyecto-arg programa.jpg" class="img-fluid img-proyecto">
        </div>
    
        <div style="height: 20px; background-color: #b0d1f7"></div>
        
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <h4>Proyecto Integrador Codo a Codo</h4>
            <p>
                PROYECTO CON FINALIDAD EDUCATIVA EN EL MARCO DE LA CAPACITACIÓN CODO A CODO | PYTHON 2022
            </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto-cac-python.png" class="img-fluid img-proyecto">
        </div>
        <div style="height: 20px; background-color: #b0d1f7"></div>
        
        <div class="col-sm-12 col-md-7 col-lg-7 parte3">
        
        
            <h4>Generador de Números Aleatorios</h4>
            <p>
                EJERCICIO DE PRUEBA CODO A CODO | REACT 2022
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
            <img src="../../../assets/proyecto2.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
    <div style="height: 20px; background-color: #b0d1f7"></div>

