<div class="row">
    <div>
    <button type="button" class="btn btn-dark" >
        Editar perfil
    </button>
</div>

<div style="height: 20px; background-color: #b0d1f7"></div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilfoto.png" class="rounded-circle img-fluid" id="fotodeperfil">
    </div>
    <br>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Eliana Murialdo</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <br>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aperiam pariatur voluptatem. Architecto soluta nobis explicabo asperiores delectus numquam ipsa inventore. Voluptatibus temporibus fugiat alias adipisci amet aperiam modi esse.</p>
        </span>
    </div>
    
</div>
<div style="height: 20px; background-color: #b0d1f7"></div>
