<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <img src="../../../assets/menu.png" alt="">
    </label>

    <a href="#" class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </a>
    <ul>
        <li><a href="https://www.linkedin.com/in/elimurialdo/"><img src="../../../assets/linkedin.png" id="linkedin"></a></li>
        <li><a href="https://github.com/elliemme"><img src="../../../assets/github.png" id="github"></a></li>
        <li><a href="mailto:murialdo.eli@gmail.com"><img src="../../../assets/correo.png" id="correo"></a></li>
        <button type="button" class="btn btn-dark"><img src="../../../assets/icons8-user-locked-24.png"> Ingresar</button>
        <button type="button" class="btn btn-dark"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</button>
    </ul>
</nav>




